.header {
  width: 100%;
  height: 80px;
  line-height: 80px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 1.3rem;
}

.nav__item a {
  font-weight: 500;
  font-size: 1.1rem;
  color: #0a2b1e;
  text-decoration: none;
  transition: 0.3s;
}

.nav__item a:hover {
  color: #17bf9e;
}

.nav__right p {
  font-weight: 500;
  color: #0a2b1e;
  font-size: 1.1rem;
}

.nav__right p i {
  font-size: 1.3rem;
}

.mobile__menu span i {
  font-size: 1.4rem;
  color: #0a2b1e;
  cursor: pointer;
}

.mobile__menu {
  display: none;
}

@media only screen and (max-width: 991px) {
  .nav__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a2b1ec2;
    z-index: 99;
    display: none;
  }

  .nav__list {
    position: absolute;
    background: #fff;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    padding-top: 80px;
  }

  .mobile__menu {
    display: block;
  }
  .nav__right {
    display: none;
  }

  .active__menu {
    display: block;
  }
}

.footer-logo img {
  width: 100px; /* Adjust the width as needed */
  height: auto;
}
.footer-logo img {
  margin-bottom: 20px; /* Adjust the value as needed */
}

/* login button */
.login-button {
  background-color: #007bff; /* Button background color */
  color: #fff; /* Text color */
  border: none; /* Remove button border */
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Add pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth background color transition */

  /* Optional: Add hover styles */
  &:hover {
    background-color: #fffa68; /* Change background color on hover */
  }
}