* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#root {
	width: 100%;
	height: 100vh;
	display: flex;
}
body {
	display: flex;
	justify-content: center;
	height: fit-content;
}
.container {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}
.notification-section {
	width: 100%; /* Adjust the width as needed */
	overflow: hidden;
	display: flex;
	margin: 1rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 2rem;
	border: 1px solid black;
	box-shadow: 0.3rem 0.4rem 0.5rem rgb(36, 35, 35);
}

.notification-scroll {
	animation: scrollAnimation 5s linear infinite;
	height: 320px; /* Adjust the height as needed */
	overflow: hidden;
	padding-bottom: 1.5rem;
	padding-top: 1rem;
}
.notification-scroll:hover {
	height: 320px; /* Adjust the height as needed */
	overflow: hidden;
	cursor: pointer;
	animation: stopAnimation;
	overflow-y: scroll;
}
.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	padding: 0 2rem;
}
.box h2 {
	margin: 2rem;
	height: 2rem;
	padding: 0 2rem;
	box-shadow: 0.3rem 0.4rem 0.5rem rgb(36, 35, 35);
	border-radius: 5px;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	font-size: 22px;
	font-weight: 500;
}
.box h2 ion-icon {
	color: rgb(245, 28, 209);
}

.notification-item {
	height: 26px;
	position: relative;
	width: 21rem;
	line-height: 30px;
	white-space: nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	background-color: #fff;
	font-weight: 500;
	background-color: rgb(238, 215, 132);
	outline: none;
}

@keyframes scrollAnimation {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-100%);
	}
}
@keyframes stopAnimation {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(0);
	}
}
