@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:wght@400;500;600;700;800&display=swap");

/* =========== base style ========= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section,
footer {
  padding-top: 30px;
  padding-bottom: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  line-height: 50px;
  font-family: "Poppins", sans-serif;
  color: #0a2b1e;
  font-weight: 600;
}

p {
  color: #596b65;
  font-size: 1rem;
  line-height: 35px;
  font-family: "Andada Pro", serif;
  font-weight: 400;
}

button.btn {
  background: #fbfb91;
  color: #312f2f;
  padding: 7px 25px;
  border-radius: 50px;
}

i {
  color: #e7e25d;
}

input:focus,
textarea:focus {
  outline: none;
}
input {
  padding-inline-start: 10px;
  height: 3rem;
}
#root {
  overflow-x: hidden;
}

/* Form CSS starts here :  */

.form-container {
  box-shadow: .5rem .5rem .5rem rgb(36, 35, 35);
}

.form-heading {
  font-size: 2rem;
  font-weight: 400;
  color: rgb (255, 199, 0);
}