/* CSS for Slider */
.swiper-container {
    max-width: 80%; /* Limit the width of the slider container */
    margin: 0 auto; /* Center the slider horizontally */
  }
  
  /* CSS for SwiperSlides */
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  /* CSS for images within SwiperSlides */
  .swiper-slide img {
    max-width: 100%; /* Make images responsive */
    max-height:60vh; /* Adjust the maximum height as needed */
    object-fit: cover; /* Maintain aspect ratio and cover the slide */
  }
  