.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.heading {
	font-size: 2.5rem;
	margin: 1.5rem 1rem 0;
}
.container-0 {
	display: flex;
	flex-wrap: wrap;
	padding: 2rem;
	justify-content: space-around;
}
.course-items {
	height: 450px;
	width: 400px;
	margin-bottom: 1.5rem;
	padding: 10px;
	border-radius: 20px;
	box-shadow: 0.5rem 0.5rem 0.5rem rgb(153, 153, 153);
	transition: 0.3s ease-in;
}
.course-items:hover {
	width: 410px;
}
.images {
	border-radius: 20px;
	overflow: hidden;
}
.course-detail {
	margin-left: 10px;
	display: flex;
	flex-direction: column;
}
.course-title {
	font-size: 20px;
	display: inline-flex;
	align-items: center;
}
.price {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}
.off {
	font-weight: 500;
	font-size: 14px;
	color: rgb(255, 176, 5);
}
.course-price {
	margin-left: 0.5rem;
	font-size: 1.2rem;
}

.original-price {
	border: 1px solid black;
	width: 20px;
	height: 20px;
}
.button {
	background-color: rgb(253, 209, 51);
	width: 10rem;
	height: 2rem;
	align-self: center;
	margin-top: 1rem;
	border-radius: 20px;
	transition: 0.2s ease-in;
	text-transform: uppercase;
}

.button:hover {
	width: 11.2rem;
	height: 2.1rem;
	background-color: rgb(253, 152, 0);
}
.box {
	justify-content: space-between;
	align-items: center;
	padding-right: 1rem;
	color: black;
	font-weight: 500;

}
.tag {
	background-color: rgb(252, 185, 41);

	font-size: 17px;
	padding: 0 1rem;
	border-radius: 2rem;
}
